.timer-wrapper {
  display: flex;
  justify-content: center;
  font-size: 34px;
  color: white;
  padding: 20px;
}
.timerContainer {
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-color: red;
  z-index: 20;
}
