.timer-wrapper {
  display: flex;
  justify-content: center;
  font-size: 34px;
  color: white;
  padding: 20px;
}
.timerContainer {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 0;
}

.customTimer {
  height: 10px;
  border-radius: 5px;
  background-color: white;
  transition: all 2000ms ease-out;
}
