.gameEndContainer {
  position: relative;
  display: flex;
  max-width: 1000px;

  margin: auto;
  flex-direction: column;
  z-index: 0;
}
.winnerh1Text {
  padding-bottom: 70px;
}

.gameEndContainer img {
  width: 90%;
  max-width: 500px;
  height: 100%;
  display: flex;
  margin: auto;
  padding-top: 50px;
}
.gameEndTextField {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  /*gap: 50px;*/
}
.gameEndTextField h1 {
  font-size: 70px;
}
.WinnnerName {
  font-size: 80px;
}
.winnerAvatarContainer {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-10%, -50%);

  /*padding: 50px;*/
  scale: 4;
}
.avatar2nd {
  position: absolute;
  left: 0;
  bottom: -20%;
  transform: translate(40%);
  display: flex;
  font-size: 10px;
  flex-direction: column;
  scale: 3;
}
.avatar2nd h3,
.avatar3rd h3 {
  display: flex;
  margin: auto;
}
.avatar3rd {
  position: absolute;
  right: 0;
  bottom: -20%;
  transform: translate(-40%);
  display: flex;
  font-size: 10px;
  flex-direction: column;
  scale: 3;
}
.avatarsContainer {
  position: relative;
  display: flex;
  width: 30rem;
  height: 15rem;
}

.confettiContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.backToLobby {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border: 2px solid black;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}
.backToLobby:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}
