.gameEndContainer {
  position: relative;
  display: flex;
  max-width: 1000px;
  /*background-image: url(../public/musician.svg);*/

  background-size: cover;
  margin: auto;
  flex-direction: column;
}
.winnerh1Text {
  padding-bottom: 70px;
}

.gameEndContainer img {
  position: relative;
  width: 90%;
  max-width: 500px;
  height: 100%;
  display: flex;
  margin: auto;
  padding-top: 50px;
}

.pedestal {
  background-image: url(../public/pedestal2.svg);
  width: 90%;
  max-width: 500px;
  height: 500px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
}
.linearGradient {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 1) 17%,
    rgba(0, 0, 0, 0.849) 30%,
    rgba(0, 0, 0, 0.328) 40%,
    rgba(105, 105, 105, 0) 48%,
    rgba(133, 133, 133, 0) 54%,
    rgba(163, 163, 163, 0) 61%,
    rgba(191, 191, 191, 0) 69%,
    rgba(224, 224, 224, 0) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.gameEndTextField {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  /*gap: 50px;*/
}
.gameEndTextField h1 {
  font-size: 70px;
}
.WinnnerName {
  font-size: 80px;
}
.winnerAvatarContainer {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-10%, -50%);

  /*padding: 50px;*/
  scale: 4;
}
.avatar2nd {
  position: absolute;
  left: 0;
  bottom: -20%;
  transform: translate(40%);
  display: flex;
  font-size: 10px;
  flex-direction: column;
  scale: 3;
}
.avatar2nd h3,
.avatar3rd h3 {
  display: flex;
  margin: auto;
}
.avatar3rd {
  position: absolute;
  right: 0;
  bottom: -20%;
  transform: translate(-40%);
  display: flex;
  font-size: 10px;
  flex-direction: column;
  scale: 3;
}
.avatarsContainer {
  position: relative;
  display: flex;
  width: 30rem;
  height: 15rem;
}

.confettiContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.311) 0%,
    rgba(252, 251, 251, 0.14) 0%,
    rgba(245, 245, 245, 0.094) 0%,
    rgba(247, 242, 242, 0.02) 17%,
    rgba(0, 0, 0, 0.026) 30%,
    rgba(0, 0, 0, 0.042) 40%,
    rgba(105, 105, 105, 0) 48%,
    rgba(133, 133, 133, 0) 54%,
    rgba(163, 163, 163, 0) 61%,
    rgba(191, 191, 191, 0) 69%,
    rgba(224, 224, 224, 0) 80%,
    rgba(255, 255, 255, 0) 100%
  );
}
.crowd {
  position: fixed;
  bottom: 15%;
  width: 100%;
  height: 55%;
  background-image: url(../public/musician.svg);
  background-size: contain;
  background-position: bottom;
  background-repeat: repeat-x;
  display: flex;
  scale: 2;
}

.backToLobby {
  color: black;
  background-color: rgba(255, 255, 255, 0.627);
  backdrop-filter: blur(6px);
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border: 2px solid black;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}
.backToLobby:hover {
  background-color: rgba(0, 0, 0, 0.613);
  color: white;
  transition: 0.3s;
}
