.gameEndContainer {
  position: relative;
  display: flex;
  margin: auto;
  flex-direction: column;
  z-index: 0;
}
.winnerh1Text {
  padding-bottom: 70px;
}

.gameEndContainer img {
  width: 50%;
  max-width: 500px;
  height: 100%;
  display: flex;
  margin: auto;
  padding-top: 50px;
}
.gameEndTextField {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.WinnnerName {
  font-size: 80px;
}
.winnerAvatarContainer {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-15%);
  /*padding: 50px;*/
  scale: 4;
}
.avatar2nd {
  position: absolute;
  left: 0;
  bottom: -20%;
  transform: translate(40%);
  display: flex;
  font-size: 10px;
  flex-direction: column;
  scale: 3;
}
.avatar2nd h3,
.avatar3rd h3 {
  display: flex;
  margin: auto;
}
.avatar3rd {
  position: absolute;
  right: 0;
  bottom: -20%;
  transform: translate(-40%);
  display: flex;
  font-size: 10px;
  flex-direction: column;
  scale: 3;
}
.avatarsContainer {
  position: relative;
  display: flex;
  width: 30rem;
  height: 15rem;
}

.confettiContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
