.game {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.droppable-container {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
}

.onTable {
  position: relative;
  display: flex;
  justify-content: center;
}

.blackCards {
  position: absolute;
  left: 25%;
  top: 25%;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr;
}
.blackCards > li {
  transform-style: preserve-3d;
  border-radius: 0.6rem;
  left: 0;
  grid-column: 1/1;
  grid-row: 1/1;
  z-index: 0;
  transition: all 350ms;
}

.blackCards > li:hover {
  box-shadow: 0px 0px 20px 0px rgb(255 255 255 / 62%);
}

.devbug-h1 {
  position: absolute;
  left: 50%;
  top: -20%;
}

.cardDisplay {
  position: relative;
  display: flex;
  min-height: 50px;
  min-width: 25%;
}
