.game {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding-top: 10rem;*/
}

.devbug-h1 {
  position: absolute;
  left: 50%;
  top: -20%;
}

.droppable-container {
  flex-basis: 50%;
  /* display: flex; */
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.czarIsChoosing {
  margin: auto;
  padding-top: 40px;
  text-align: center;

  position: relative;
}

.whiteCardTable ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding-top: 50px;
}
.whiteCardTable ul li:hover {
  cursor: grab;
}

.whiteCardTable ul .lastWhiteCard:hover {
  animation: fadeIn 1000ms forwards;
}

@keyframes fadeIn {
  0% {
    transform: scale(1.05);
    z-index: 2;
  }
  99% {
    z-index: 2;
  }
  100% {
    transform: scale(1);
    z-index: 0;
  }
}

.whiteCardTable ul li:hover {
  transform: rotate(3deg);
}

.onTable {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.cardDisplay {
  display: grid;
  grid-template-areas:
    "blackCard white1 white2"
    ". selectButton selectButton";
  width: max-content;
  column-gap: 10px;
}

.cardDisplay.playedWhite {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  background-color: transparent;
  padding: 0 1rem;
}

.cardDisplay.playedWhite li {
  display: flex;
  position: relative;
  gap: 0.25rem;
  background-color: transparent;
  transition: all 250ms;
}

.cardDisplay.playedWhite li div:nth-child(1) {
  transform: rotate(-15deg) translateX(25%);
  z-index: 0;
  scale: 0.85;
}

.cardDisplay.playedWhite li div:nth-child(2) {
  transform: rotate(15deg) translateX(-25%);
  z-index: 0;
  scale: 0.85;
}

.cardDisplay.playedWhite li:hover {
  scale: 1.1;
}

.cardDisplay.playedWhite:hover li div {
  box-shadow: 0 0px 18px 0px rgba(255, 255, 255, 0.2);
}

.choose-button {
  position: absolute;
  bottom: 20%;
  left: 80%;
  width: max-content;
  border: 2px solid white;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  font-size: 16px;
  transform: translateX(-50%) translateY(100%);
  z-index: 5;
  transition: all 250ms;
  opacity: 0;
  color: white;
  background-color: black;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 200ms;
}

.cardDisplay.playedWhite li:hover .choose-button {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}

.cardDisplay.playedWhite li:hover .choose-button:disabled {
  background-color: rgba(26, 26, 26, 0.856);
  border: 2px solid transparent;
  padding: 5px;
  color: rgba(245, 245, 245, 0.466);
}

.cardDisplay.confirmed li {
  position: relative;
  transition: all 500ms !important;
}

.cardDisplay.confirmed li:nth-child(2):hover,
.cardDisplay.confirmed li:nth-child(3):hover {
  scale: 1.1 !important;
  z-index: 1 !important;
}

.cardDisplay.confirmed {
  position: relative;
}

.cardDisplay.confirmed li:nth-child(1) {
  z-index: 1;
  transform: translateX(100%);
}

.cardDisplay.confirmed li:nth-child(2) {
  z-index: 0;
  scale: 0.9;
  transform: translateX(-50%) rotateZ(-20deg);
}

.cardDisplay.confirmed li:nth-child(3) {
  z-index: 0;
  scale: 0.9;
  transform: translateX(-75%) rotateZ(20deg);
}

.timeMessageContainer {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-size: larger;
  z-index: 200;
}

.cardDisplay li[role="button"]:nth-child(1) {
  grid-area: blackCard;
}

.cardDisplay li[role="button"]:nth-child(2) {
  grid-area: white1;
}

.cardDisplay li[role="button"]:nth-child(3) {
  grid-area: white2;
}

.selectButton {
  grid-area: selectButton;
  display: flex;
  position: absolute;
  bottom: -28%;
  left: 50%;
  z-index: 20;
  justify-content: center;
  width: 200px;
  height: 50px;
  align-items: center;
  /*border: 1px dotted white;*/
  /*border-bottom: 1px solid white;*/
  /*border-top: 1px solid white;*/
  border-radius: 30px;
  background-color: black;
  letter-spacing: 1px;
  font-size: 16px;
  color: white;
  opacity: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3;
  box-shadow: 0px 0px 15px 2px rgb(0, 0, 0);
}

.selectButton.active {
  animation: slideIn 2000ms forwards;
}
.selectButton:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}
.waitText {
  position: fixed;
  top: 38%;

  padding: 0;
  margin: 0;
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.white-in-black {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid white;
  font-weight: 600;
}

.blackHand {
  position: relative;
  display: flex;
  grid-area: blackHand;
}

.whiteHand {
  animation: outOfView 0.75s forwards;
  display: grid;

  transition: all 250ms;
}

.whiteHandOut {
  position: fixed;
  bottom: -70%;
  left: 50%;
  transform: translateX(-50%) translateY(25%);
}

@keyframes outOfView {
  0% {
    transform: translateY(1000px);
  }
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}
