@import url("./Card.css");
@import url("./Countdown.css");
@import url("./Lobbycards.css");
@import url("./Lobby.css");
@import url("./avatars.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
html,
body {
  padding: 0;
  margin: auto;
  font-family: Roboto;
  background: black;
  color: white;
}
.temph1 {
  display: flex;
  justify-content: center;
}
