.waitingLobbyContainer {
  position: relative;
  display: flex;
  margin: auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.waitingLobbyCard {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.framerContainer {
  height: 400px;
  width: 250px;
  border: 2px solid white;
  box-shadow: 0 0px 18px 0px rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 0;
  z-index: 1;
  background: black;
  margin: auto;
}

.waitingLobbyTextWrapper {
  position: relative;
  width: 210px;
  height: 100px;
  padding-bottom: 35px;
  padding-left: 25px;
}

.waitingLobbyButtonWrapper {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.loadingContainer {
  display: inline-block;
  /*flex-direction: column;
  position: absolute;
  max-width: max-content;
  display: flex;
  right: 0;
   top: 28%;
  right: 27%;
  padding-top: 25px; */
}
.icon {
  font-size: 16px;
  cursor: pointer;
  z-index: 2;

  width: 20px;
  height: 20px;
}
.icon:hover {
  color: #a0d68a;
}
.loader {
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
}
.circle {
  width: 7px;
  height: 7px;
  background: white;
  border-radius: 50%;
  margin: 0 2px;
  animation: jump 1s linear infinite;
}
.lobbyIdContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.lobbyIdContainer div:hover {
  cursor: pointer;
}

.lobbyIdCopyField {
  border-radius: 10px;
  background-color: rgb(41, 40, 40);
  width: 210px;
  position: relative;
}

.input-icon-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
  font-weight: bold;
  border-radius: 10px;
}
.input-icon-wrapper:hover {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(175, 173, 173);
  color: black;
  transition: 0.5s;
}
.input-icon-wrapper:active {
  background-color: green;
}

.lobbyIdContainer p {
  font-size: 12px;
  padding-left: 10px;
  overflow: hidden;
  max-width: 80%;
}

.tempCopyText {
  position: absolute;
  color: #a0d68a;
  /*top: -10px;*/
  font-weight: 600;
  width: auto;
  /*padding: 10px;*/
  margin: auto;

  border-radius: 30px;
}
.hostCrown {
  display: flex;
  position: absolute;
  font-size: 38px;
  color: orange;
  top: -20px;
  left: -20px;
  transform: rotate(-40deg);
}

.dragContainer {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0 3rem;
}

.dragContainer li {
  width: 110px;
  height: 170px;
  border-radius: 10px;
  background: white;
  color: black;
  border: 1px solid black;
}

.dragContainer li h2 {
  padding-left: 10px;
  padding-right: 10px;

  /*word-break: break-all;*/
  display: flex;
  justify-content: center;
}
.wrap-text {
  white-space: normal;
  word-wrap: break-word;
}

.dragContainer li:nth-child(1) {
  animation: moveCard 0.5s linear;
  bottom: 10%;
  left: 5%;
  transform: rotate(-20deg);
}
.dragContainer li:nth-child(2) {
  animation: moveCard 0.5s linear;
  bottom: 10%;
  left: 15%;
  transform: rotate(20deg);
}
.dragContainer li:nth-child(3) {
  animation: moveCard 0.5s linear;
  bottom: 10%;
  left: 25%;
  transform: rotate(-10deg);
}
.dragContainer li:nth-child(4) {
  animation: moveCard 0.4s linear;
  bottom: 8%;
  left: 35%;
  transform: rotate(20deg);
}
.dragContainer li:nth-child(5) {
  animation: moveCard 0.35s linear;
  bottom: 8%;
  left: 45%;
  transform: rotate(10deg);
}
.dragContainer li:nth-child(6) {
  animation: moveCard 0.35s linear;
  bottom: 8%;
  left: 56%;
  transform: rotate(-10deg);
}
.dragContainer li:nth-child(7) {
  animation: moveCard 0.35s linear;
  bottom: 8%;
  left: 64%;
  transform: rotate(10deg);
}
.dragContainer li:nth-child(8) {
  animation: moveCard 0.35s linear;
  bottom: 8%;
  left: 75%;
  transform: rotate(-13deg);
}
.dragContainer li:nth-child(9) {
  bottom: 10%;
  left: 86%;
  transform: rotate(13deg);
}
.dragContainer li:nth-child(10) {
  bottom: 10%;
  left: 90%;
  transform: rotate(-13deg);
}
.changeNameButton {
  width: 210px;
  margin: auto;
  height: 35px;
  padding-left: 15px;
  display: flex;
  border-radius: 10px;
  background-color: rgb(41, 40, 40);
  color: white;
}
.changeNameButtonWrapper {
  display: flex;
  padding-top: 20px;
}

.inactive {
  opacity: 0.7;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-7px);
  }
  70% {
    transform: translateY(0);
  }
}

#b {
  animation-delay: 0.2s;
}
#c {
  animation-delay: 0.4s;
}

@keyframes moveCard {
  0% {
    transform: translateX(1500px) rotate(1turn);
  }
  100% {
    transform: translateX(0px);
  }
}
.loadingContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
