.navContainer {
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 20;
}
.dropdownIcon {
  align-items: center;
  display: flex;
}
.greetingText {
  padding-right: 15px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;

  right: 0;
  background-color: black;
  border: 1px solid white;
  min-width: 120px;
  height: 200px;
  border-radius: 15px;
  justify-content: center;
  padding: 0;
  z-index: 1;
}
.navIcon {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.dropdown-content button {
  cursor: pointer;
  font-weight: 800;
  letter-spacing: 2px;
  width: 100%;
  padding: 10px;
  background: none;
  border-radius: 13px 13px 0 0;
  color: white;
}
.dropdown-content button:hover {
  padding: 10px;
  background: rgba(255, 255, 255, 0.459);
  border: 1px solid rgba(255, 255, 255, 0.459);
  color: black;
}

.dropdown-content p {
  display: flex;
  justify-content: center;
}
.navIconSVG {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
.dropdown-content button :nth-child(1) {
}
