.navContainer {
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  align-items: center;
  margin-top: 15px;
  justify-content: center;
  display: flex;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}
.navIcon {
  font-size: 30px;
  text-decoration: none;
  color: white;
  width: 40px;
  height: 40px;
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
