.scoreboard-container {
  position: fixed;
  top: 5%;
  left: 2.5%;
  width: 300px;
  height: 8%;
  max-height: 60vh;
  overflow: hidden;
  background-color: white;
  border: 1px solid white;
  border-radius: 1rem;
  box-shadow: 0 1px 10px 0 white;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  color: black;
  transition: all 650ms;
  z-index: 10;
}

.scoreboard-container:hover {
  padding-top: 2rem;
  height: 100%;
  width: 300px;
}

.scoreboard-container::after {
  content: "SCOREBOARD ▼";
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.2rem;
  transition: all 25ms 700ms;
}

.scoreboard-container:hover::after {
  content: "SCOREBOARD";
  position: absolute;
  top: 2.5%;
  left: 5%;
  scale: 0.8;
  transform: translate(0, 0);
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.2rem;
  transition: all 30ms, scale 150ms;
  transition-delay: 0ms;
}

.scoreboard-container ul {
  display: flex;
  flex-direction: column;
}

.scoreboard-container li {
  opacity: 0;
  position: relative;
  transition: all 150ms;
}

.scoreboard-container:hover li {
  opacity: 1;
  transition: all 1000ms 150ms;
}

.scoreboard-container li:first-child {
  border-top: 2px solid rgb(87, 87, 87);
}

.scoreboard-container li > div {
  border-bottom: 2px solid rgb(87, 87, 87);
  display: flex;
  justify-items: end;
  column-gap: 0.75rem;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding: 0.25rem 0;
}

.scoreboard-container .crown-background {
  position: absolute;
  top: 11%;
  left: -1%;
}

.scoreboard-container .crown-background::after {
  content: "";
  position: absolute;
  height: 7px;
  width: 7px;
  left: 30%;
  top: 30%;
  border-radius: 50%;
  z-index: -5;
  background-color: black;
}

.scoreboard-container .crown {
  color: gold;
  height: 25px;
  width: auto;
  transform: rotateZ(-10deg);
}

.scoreboard-container .checkmark {
  height: 25px;
  width: auto;
  color: rgb(109, 161, 30);
  opacity: 0;
  transition: all 250ms;
}

.scoreboard-container .checkmark.active {
  opacity: 1;
}

.scoreboard-container div img {
  height: 90%;
}

.scoreboard-container .player-name {
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.scoreboard-container .player-points {
  justify-items: end;
  margin-left: auto;
  font-weight: 900;
  font-size: 1.2rem;
}
