.settings-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  color: #8b8b8b;
  padding: 0 1rem;
  align-self: stretch;
}

.settings-container .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.settings-container h2 {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  transition: all 250ms;
  width: 100%;
  overflow: hidden;
  transform: translateX(75%);
  opacity: 0;
}

.settings-container.active h2 {
  transform: translateX(0);
  opacity: 1;
}

.settings-container form {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 1rem;
  row-gap: 0.75rem;
  background-color: rgba(0, 0, 0, 0.726);
  backdrop-filter: blur(2px);
  opacity: 0;
  width: 0;
  padding: 0;
  height: 0;
  right: 20%;
  top: 50%;
}

.settings-container form input {
  background-color: #292828;
  color: #4e6975;
  min-width: 220px;
  margin: 0;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  transition: none;
  opacity: 0;
}

.settings-container.active form {
  opacity: 1;
  width: auto;
  padding: 2rem 1.5rem;
  height: auto;
  right: auto;
  top: 100%;
  transition: all 50ms ease-in;
}

.settings-container form button {
  opacity: 0;
}

.settings-container.active form input,
.settings-container.active form button {
  opacity: 1;
  transition: all 150ms;
  transition-delay: 100ms;
}

.settings-container .icon {
  color: #6e6e6e;
  min-width: 1.3rem;
  height: auto;
  border-radius: 50%;
  background-color: transparent;
  transition: all 250ms;
}

.icon.active {
  transform: rotateZ(180deg);
  min-width: 1.55rem;
  height: auto;
}

.settings-container button {
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
