.skeleton-wrapper {
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
  transform: translateX(33%);
  z-index: 0;
}

.hide-skell {
  animation: hideSkell 500ms;
  animation-fill-mode: forwards;
}

@keyframes hideSkell {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
  }
}
